# Android Studio/Gradle
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Keystore file
*.jks
*.keystore

# Google Services
google-services.json

# Proguard
/app/proguard/mapping.txt
/app/proguard/seeds.txt
/app/proguard/usage.txt

# Hilt
/app/build/generated/hilt

# KSP
/app/build/generated/ksp

# Private files
private.properties

# Built files
*.apk
*.aab
